/* ALL */

* {
    border-radius: 0 !important;
}
/*  IMAGE AND CAPTION */

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
    overflow: hidden;
    height: 150px;
}

.img-responsive.image {
    top:50%;
    min-height:100%;
    min-width:100%;
}
.caption {
    width:100%;
    top: 0;
    position: absolute;
    background: rgba(100,100,100,0.4);
}

.caption-hover{
    background: rgba(100,100,100,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    color: #fff;
    display: none;
}

.caption p{
    color: #f4f4f4;
}

.caption-hover h5{
    position: relative;
    word-wrap: break-word;
    text-wrap: avoid;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

}

.caption-hover p{
    position: relative;
    word-wrap: break-word;
    text-wrap: avoid;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding: 3%;
    font-size: 90%;

}

/*  SUBPAGE 2 */

#main-row{
    height: 300px;
}

#previousImgCol img{
    position: absolute;
    top: 50%;
    transform:
            translate(-50%, -50%)
            rotateY(-45deg);
    transition: all 0.5s ease-in-out;
    -webkit-transform:
            translate(-50%, -50%)
            rotateY(-45deg);
    -webkit-transition: all 0.5s ease-in-out;
    max-width: 100%;
    left: 50%;
    margin-right: -50%;
    opacity: 0.6;
}

#mainImgCol img{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    margin-right: -50%;

}

#nextImgCol img{
    position: absolute;
    top: 50%;
    transform:
            translate(-50%, -50%)
            rotateY(45deg);
    transition: all 0.5s ease-in-out;
    -webkit-transform:
            translate(-50%, -50%)
            rotateY(45deg);
    -webkit-transition: all 0.5s ease-in-out;
    max-width: 100%;
    left: 50%;
    margin-right: -50%;
    opacity: 0.6;
}

#previousImgCol{
    height: 100%;
    position: relative;
    perspective: 600px;
}

#mainImgCol{
    height: 100%;
    position: relative;
}

#nextImgCol{
    height: 100%;
    position: relative;
    perspective: 600px;
}

#previousImgCol img:hover + .arrowPrev:before{
    opacity: 1;
}

#previousImgCol img:hover{
    opacity: 1;
}

#mainImgCol img:hover{

}

#nextImgCol img:hover + .arrowNext:before{
    opacity: 1;
}

#nextImgCol img:hover{
    opacity: 1;
}

.arrowPrev{
    position: absolute;
    left: 0px;
    height: 100%;
    background-color: transparent;
}

.arrowPrev:before {
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    content:'';
    width: 100%;
    top: 50%;
    border-bottom: 40px solid transparent;
    border-top: 40px solid transparent;
    border-right: 30px solid rgba(100,100,100,1);
    border-left: 10px solid transparent;
    transform: translate(0, -50%);
    opacity: 0.6;
}

.arrowNext{
    position: absolute;
    right: 0px;
    height: 100%;
    background-color: transparent;
}

.arrowNext:before {
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    content:'';
    width: 100%;
    top: 50%;
    border-bottom: 40px solid transparent;
    border-top: 40px solid transparent;
    border-right: 10px solid transparent;
    border-left: 30px solid rgba(100,100,100,1);
    transform: translate(-100%, -50%);
    opacity: 0.6;
}

#mainCapCol{
    height: inherit;

    position: relative;
    text-align: center;
}

.caption.covFlow{
    position: absolute;
    top: 10px;
    width: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    background: white;
}

.caption.covFlow h5{
    color: #535246;
    text-align: center;
}

.caption.covFlow p{
    color: #535246;
}



/* SIDEBAR AND MAIN CONTENT */

.well {
    padding-left: 0px;
    margin-left: auto;
    border-left: 0px;
    left: 0px;
}

.bs-sidebar.affix {
    width: 150px;
    margin-left: 0px;
    margin-top: 50px;
}

#main-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* 'LOGGED AS..' TEXT */

#log-text {
    margin-top: 12px;
}

/* SCREEN RESOLUTION */

@media (min-width: 544px) {

    .bs-sidebar.affix {
        width: 150px;
        margin-top: 50px;
        left: 0px;
    }
    .well {
        padding-left: 0px;

    }
    #main-content {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    .bs-sidebar.affix {
        width: 190px;
        margin-top: 100px;
    }
    #main-content {
        padding-top: 100px;
        padding-left: 200px;
    }
}

@media (min-width: 992px) {
    .bs-sidebar.affix {
        width: 220px;

    }
    #main-content {
        padding-top: 100px;
    }
}

@media (min-width: 1200px) {
    .bs-sidebar.affix {
        width: 180px;
    }
    #main-content {
        padding-top: 100px;
        padding-left: 140px;
    }
}

