* {
    border-radius: 0 !important;
}


.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
    overflow: hidden;
}

.caption {
    width:100%;
    top: 0;
    position: absolute;
    background: rgba(100,100,100,0.4);

}
.caption p{
    color: #f4f4f4;
}

.caption-hover{
    background: rgba(100,100,100,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    color: #fff;
    display: none;
}

.well {
    padding-left: 0px;
    margin-left: auto;
    border-left: 0px;
    left: 0px;
}


.image{
    background-size: cover;
    opacity: 1;
    padding: 0 0;
}

#log-text {
    margin-top: 12px;
}

.bs-sidebar.affix {
    width: 150px;
    margin-left: 0px;
    margin-top: 50px;
}

#main-content {
    padding-top: 50px;
}

@media (min-width: 544px) {
    .bs-sidebar.affix {
        width: 150px;
        margin-top: 50px;
        left: 0px;
    }
    .well {
        padding-left: 0px;

    }
    #main-content {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    .bs-sidebar.affix {
        width: 190px;
        margin-top: 100px;
    }
    #main-content {
        padding-top: 100px;
        padding-left: 200px;
    }
}

@media (min-width: 992px) {
    .bs-sidebar.affix {
        width: 220px;

    }
    #main-content {
        padding-top: 100px;
    }
}

@media (min-width: 1200px) {
    .bs-sidebar.affix {
        width: 240px;
    }
    #main-content {
        padding-top: 100px;
        padding-left: 220px;
    }
}

