@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

* {
    border-radius: 0 !important;
}

body {

}

/*  MAIN SCREEN IMAGE AND CAPTION */

#myCarousel {
    margin-bottom: 50px;

}

.carousel-inner{
    overflow: hidden;
    text-align: center;
    width: 100%;
}

#myCarousel img{
    max-width: none;
    left: 50%;
    transform: translate(-50%,0);
    position: relative;
}


#myCarousel .carousel-control {
    transition: all 0.5s ease;
    opacity: 0;
}
#myCarousel:hover .carousel-control {
    opacity: 1;
}

.thumbCol {
    padding: 0;
}

.thumbnail {
    position: relative;
    border: 0 none;
    padding:0;
    overflow: hidden;

}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px inset;
    top: 0;
    left: 0;

}


.thumbnail img {
    top:50%;
    min-height:100%;
    min-width:100%;
    filter: blur(0);
    transition: 0.5s ease;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.thumbnail:hover img{
    transform: scale(1.2);
    -webkit-filter: blur(2px);
    filter: blur(2px);

}

.thumbnail:hover .caption-hover{
    opacity: 1;
}

.thumbnail:hover .caption{
    opacity: 0;
}

.caption {
    width:100%;
    top: 0;
    position: absolute;
    background: rgba(100,100,100,0.4);
    opacity: 1;
    transition: opacity 0.2s ease;
}

.caption-hover{
    background: rgba(100,100,100,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    color: #fff;
    opacity: 0;
    transition: all 0.5s ease;
}

.caption h4{
    color: #f4f4f4;
}

.caption-hover h4{
    padding-top: 10px;
    position: relative;
    word-wrap: break-word;
    text-wrap: avoid;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

}

.caption-hover p{
    position: relative;
    word-wrap: break-word;
    text-wrap: avoid;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding: 3%;
    font-size: 90%;

}

/*  SUBPAGE 2 */

#main-row{
    position: relative;
    height: 300px;
    transform-origin: 0 100%;
    margin-top: 40px;
}

/* NEW COVERFLOW */


#covList{
    height: 300px;
    padding: 0;
    perspective: 1200px;

}

#covList li{
    position: relative;
    top: 50%;
    width: 33%;
    display: block;
    float: none;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 0;

}

#covList li img{
    position: absolute;
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
    transition: all 0.5s ease;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.7), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


/*END OF NEW COVERFLOW */


#mainCapCol{
    height: auto;
    position: relative;
    text-align: center;
    display: table;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: -100;
}

.caption.covFlow{
    position: relative;
    z-index: -2;
    top: 10px;
    width: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    background: white;
    display: table-row;
}

.caption.covFlow h5{
    color: #535246;
    text-align: center;
}

.caption.covFlow p{
    color: #535246;

}

#bid-input{
    float: left;
    width: 100%;
    border: solid;
    border-color: #3e3f3a;
    border-width: 1px;
    margin-bottom: 10px;
}

#bid-button{
    float: right;
    width: 100%;
    height: 48px;
    border: solid;
    border-color: #3e3f3a;
    border-width: 1px;
    transition: all 0.5s ease;
    background: linear-gradient(to bottom, #79a736 0%, #516f26 100%);
    opacity: 1;
}

#bid-button h4{
    margin-top: 10px;
    transform: translate(0, -50%);
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    transition: all 0.5s ease;
}


#bid-button:hover h4{
    color: white;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

/* NAVBAR-TOP, SIDEBAR AND MAIN CONTENT */

#navFirst{
    z-index: 1000;
    height: 60px;
}

#navbarSecondWrap .navbar { background: #79a736; border-bottom:none;  }
#navbarSecondWrap .navbar .nav  {text-align: center}
#navbarSecondWrap .navbar .nav > li {}
#navbarSecondWrap .navbar .nav > li > a { font-family: 'Open Sans'; font-size: 13px; font-weight: 400; color: #fff; transition: all 0.5s ease; min-width: 80px; }
#navbarSecondWrap .navbar .nav > li > a:hover {color: #fff; background-color: #93c54b;}
#navbarSecondWrap .navbar .nav .active > a,.navbar .nav .active > a:hover { color: #fff; background-color: #57792a;}
#navbarSecondWrap .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
#navbarSecondWrap .navbar .nav > li.dropdown.open.active > a:hover {}
#navbarSecondWrap .navbar .nav > li.dropdown.open > a {color: #fff;background-color: #8e8c84;border-color: #fff; z-index: 100}
#navbarSecondWrap .navbar .nav > li > .dropdown-menu {font-family: 'Open Sans'; background-color: #8e8c84; border: 0; padding: 0}
#navbarSecondWrap .navbar .nav > li > .dropdown-menu > li > a{color: #fff;}
#navbarSecondWrap .navbar .nav > li > .dropdown-menu > li > a:hover{background-color:#79a736; color: #fff; }
#navbarSecondWrap .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
#navbarSecondWrap .navbar .navbar-brand {color:#fff;}
#navbarSecondWrap .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}


.navbar-sm #navbarSecondWrap .navbar { min-height:40px; height: 40px; }
.navbar-sm #navbarSecondWrap .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm #navbarSecondWrap .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; outline: none;}
.navbar-sm #navbarSecondWrap .navbar .navbar-nav > li > a::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: white;
    transition: width .25s;
}
.navbar-sm #navbarSecondWrap .navbar .navbar-nav > li.active > a::before {
    width: 100%;
}

#navMin {
    width: 100%;
    height: 40px;
    z-index: 1000;
    position: fixed;
    background: #79a736;
}
#navbarSecondWrap{
    height: inherit;
    text-align: center;
}

#navSecond{
    text-align: left;
    display: inline-block;
}

#wrapper {
    margin-top: 40px;
}

#page-content-wrapper{
    width: 100%;
}

#main-content {
    padding-top: 0px;
    padding-bottom: 50px;
    margin: 0 auto;
}

/* 'LOGGED AS..' TEXT */

#log-text {
    margin-top: 12px;
}

/* SCREEN RESOLUTION */

@media (min-width: 544px) {

    .thumbnail{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-top: 0;

    }

}

@media (min-width: 768px) {

    .thumbnail{
        margin: 20px;
        height: 200px;
    }

    #main-content{
        width: 90%;
    }

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

